:root {
    --bs-white: #F9F9F9;
    --bs-violet: #5C4EAE;
    --btn-hv-violet: #8075c0;
    --txt-pale-violet: #C5BFED;
    --ln-gray: #CBCBCB;
    --bs-green: #005128;
    --tx-black:#201F1F;
    --bs-yellow: #F59E0B;
    --txt-grey: #606060;
    --txt-p-grey: #676767;
    --divider-grey: #C5C5C5;
    --txt-dark-gold: #DAA31A;
    --btn-highlight-bg-yellow: #F7EDD0;
    --txt-tomato-red: #FB471D;
    --btn-highlight-bg-red: #F7C5BA;
    --txt-view-grey: #ACADB9;


}

header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bs-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif!important;
    font-weight: 600!important;
    letter-spacing: 1.5px!important;
    color: var(--tx-black)!important;
}

h1 { font-size: 3rem!important; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    color: var(--bs-violet);
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

.nav-list {
    list-style-type: none;
    margin: 0;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    color: var(--txt-grey)!important;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 27px;
    text-space: 27px;
    letter-spacing: 0;
}

.nav-link:focus, .nav-link:hover {
    color: var(--btn-hv-violet)!important;
}

.btn-login {
    font-family: 'Inter', sans-serif;
    color: var(--txt-grey)!important;
    padding-x: 26px!important;
    padding-y: 17px!important;
    border-radius: 18px!important;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 27px;
    text-space: 27px;
    letter-spacing: 0;
}

.btn-login:focus, .btn-login:hover {

}

.btn-signup {
    font-family: 'Inter', sans-serif;
    color: var(--bs-white)!important;
    background-color: var(--bs-violet)!important;
    padding-x: 26px!important;
    padding-y: 17px!important;
    border-radius: 18px!important;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 27px;
    text-space: 27px;
    letter-spacing: 0;
}

.over {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: var(--tx-black)!important;
    padding-top: 40px;
    padding-bottom: 20px;
}

.indigo {
    color: var(--bs-violet)!important;
}

.text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0;
    color: var(--txt-p-grey);
}

.features {
background-color: var(--bs-violet);
}

.features h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 54px;
    letter-spacing: 0;
    color: var(--bs-white)!important;
}

.features span {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: 0;
    color: var(--txt-pale-violet);
}

.divider {
    height: 1px;
    rotate: -180deg;
    opacity: 15%;
    background-color: var(--divider-grey);
}

.card {
    padding-left: 0!important;
    padding-right: 0!important;
    border-radius: 23px!important;
    border: none;
}

.card-img-top {
    border-top-left-radius: 23px!important;
    border-top-right-radius: 23px!important;
}

.card-body p {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.card-highlight-yellow {
    color: var(--txt-dark-gold)!important;
    background-color: var(--btn-highlight-bg-yellow)!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 100%;
}

.card-highlight-red {
    color: var(--txt-tomato-red)!important;
    background-color: var(--btn-highlight-bg-red)!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 100%;
}

.view {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 32px;
    letter-spacing: -0.07px;
    color: var(--txt-view-grey);
}

.cards-dishes {
    grid-template-columns: repeat(2, 1fr);
}

.review-text {
    font-family: 'Poppins', sans-serif;!important;
    font-weight: 400;!important;
    font-size: 1rem;!important;
    font-style: italic;!important;
    line-height: 19px;!important;
    color: var(--txt-p-grey);
}

.subscribe {
    background-color: var(--bs-violet);
    background-image: url("/assets/image/Group34844.svg");
    border-radius: 35px;
}

.subscribe-text p {
    color: #FFFFFF;!important;
    font-family: 'Poppins', sans-serif;!important;
    font-weight: 800;!important;
    font-size: 3.5rem;!important;
    line-height: 100%;!important;
}

.subscribe-form {
    background-color: #FFFFFF;
}

.subscribe-form input, button {
    font-family: "Poppins", sans-serif;!important;
    font-weight: 400;!important;
    letter-spacing: 1px;!important;
    font-size: 1rem;!important;
}

.subscribe-form button {
    background-color: var(--bs-violet);
}

.footer {
    background-color: #EFEFEF;
}

.list-group-item a {
    background-color: #EFEFEF;!important;
}

@media (max-width: 320px) {
    .trustpilot {
        justify-content: center;
    }

    .statistic {
        border-bottom: 1px solid var(--divider-grey);
    }
    .h1 {
        font-size: 3rem!important;
    }

    .card {
        margin-bottom: 40px;
    }
}

@media (min-width: 321px) and (max-width: 767px) {
    .trustpilot {
        justify-content: center;
    }

    .statistic {
        border-bottom: 1px solid var(--divider-grey);
    }

    .h1 {
        font-size: 3rem!important;
    }

    .card {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    h1 { font-size: 2.5rem; }   /* ~40px */
    h2 { font-size: 2rem; }     /* ~32px */
    h3 { font-size: 1.75rem; }  /* ~28px */

    .trustpilot {
        justify-content: center;
    }

    .statistic {
        border-right: 1px solid var(--divider-grey);
    }

    .card {
        margin-bottom: 40px;
    }

    .cards-dishes {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 { font-size: 3rem; }   /* ~48px */
    h2 { font-size: 2.5rem; } /* ~40px */
    h3 { font-size: 2rem; }   /* ~32px */

    .trustpilot {
        justify-content: left;
    }

    .statistic {
        border-right: 1px solid var(--divider-grey);
    }

    .cards-dishes {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width: 1024px) and (max-width: 1920px) {
    .trustpilot {
        justify-content: left;
    }

    .statistic {
        border-right: 1px solid var(--divider-grey);
    }

    .cards-dishes {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width: 1920px) {
    .trustpilot {
        justify-content: left;
    }

    .statistic {
        border-right: 1px solid var(--divider-grey);
    }

    .cards-dishes {
        grid-template-columns: repeat(4, 1fr);
    }

}